$font-stack: 'Manda', sans-serif;
$pagekeyLayout: 20px 10vw 20px 10vw;
$listArticleMargin: 20px 0 10px 0;
$listArticleTextShadow: 4px 4px 4px #030e35;
$listArticleBoxShadow: 19px 19px 19px #1d1d1d7c;
$listPTextShadow: 1px 2px #030e35;
$listPBoxShadow: 9px 9px 9px #1d1d1d7c;
$listPFontSize: 14px;
$listPBGcolor: rgba(21, 107, 10, 0.582);
$listPsecBGcolor: rgba(10, 107, 99, 0.582);