#paging{
    padding: 20px 10vw 20px 10vw;
}

#searchForm{
    padding: 20px 10vw 5px 10vw;
}

.header__headline{
    margin: 0;
  
}

.pageContent{
    padding: 30px 10vw 30px 10vw;
}

.planetListArticle{
    margin: 20px 0 10px 0;
    background-color: rgb(110, 77, 33);
    border-radius: 50%;

    width: 250px;
    height: 250px;

}

.flexDiv{
    display: flex;
}

.planetListWelcomeP{
    font-size: 14px;
    padding: 40px 0 0 0;
    height: 130px;
    width: 130px;
    background-color: rgb(21, 107, 10);
    border-radius: 50%;
}

.planetListLandscapeP{
    font-size: 14px;
    margin: 20px 0 0 0;
    padding: 50px 0 0 20px;
    height: 130px;
    width: 130px;
    background-color: rgb(10, 107, 99);
    border-radius: 50%;
}