body{
    background: linear-gradient(160deg, #2e0994 10%,rgb(7, 2, 29) 50%,rgb(7, 2, 29) 25%);
}

header{
    color: rgb(255, 253, 118);
}

.header__headline{
    font-size: 70px;
    padding: 30px 20vw 30px 10vw;
    text-shadow: 7px 7px 7px #030e35;
  
}

.header__homeA{
    text-decoration: none;
    color: rgb(255, 253, 118);
}

.pageContent{
    color: rgb(255, 253, 118);
}

.arid{
    background-image: url(/img/arid.jpg);
}

.windy{
    background-image: url(/img/windy.jpg);
}

.temperate{
    background-image: url(/img/temperate.jpg);;
}

.tropical{
    background-image: url(/img/tropical.jpg);
}

.frozen{
    background-image: url(/img/frozen.jpg);
}

.murky{
    background-image: url(/img/murky.jpg);
}

.hot{
    background-image: url(/img/hot.jpg);
}

.artificial{
    background-image: url(/img/artificial.jpg);
}

.frigid{
    background-image: url(/img/frozen.jpg);
}

.humid{
    background-image: url(/img/humid.jpg);
}

.moist{
    background-image: url(/img/moist.jpg);
}

.polluted{
    background-image: url(/img/polluted.jpg);
}

.unknown{
    background-image: url(/img/unknown.jpg);
}

.superheated{
    background-image: url(/img/superheated.jpg);
}

.subartic{
    background-image: url(/img/subartic.jpg);
}

.artic{
    background-image: url(/img/arctic.jpg);
}